@import './main';
@import './letter';
@import './team';
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');




.App {
    min-height: 100vh;
    background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

footer.app-footer {
    background-color: #0D114B;
    z-index:10;
    color: white;
    padding: 16px 0;
    text-align: center;

    & > p {
        margin: 1rem 0;
        font-style: italic;
        text-transform: uppercase;
    }
}

div.bottom {
    background-color: #343a40;
    color: gray;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
