@import './main';
@import './letter';
@import './team';
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');




.App {
    min-height: 100vh;
    background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

footer.app-footer {
    background-color: #0D114B;
    z-index:10;
    color: gray;
    padding: 8px 0;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
