$primary-theme: #82F2E7;
$secondary-theme: #dc4c88;
$black-filter: #000000b5;

@import './App';

@font-face {
  font-family: 'VCR OSD';
  font-style: normal;
  font-weight: 400;
  src: local('VCR OSD Mono Regular'),
       url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}
@font-face {
  font-family: 'Ethnocentric';
  font-style: normal;
  font-weight: 400;
  src: local('Ethnocentric Regular'),
       url('../fonts/ethnocentric_rg.ttf') format('truetype');
}

@font-face {
  font-family: 'UmpquaBold';
  font-style: normal;
  font-weight: 400;
  src: local('Umpqua Bold'),
       url('../fonts/UmpquaBold.otf') format('opentype');
     }

body {
  margin: 0;
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

@include headings {
    font-family: 'UmpquaBold';
    font-size: 3rem;
}

// Bootstrap button
.btn-pink {
  color: #FFFFFF;
  background-color: #DC4C88;
  border-color: #DC4C88;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  color: #FFFFFF;
  background-color: #C43A74;
  border-color: #DC4C88;
}

.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  background-image: none;
}

.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #DC4C88;
  border-color: #DC4C88;
}

.btn-pink .badge {
  color: #DC4C88;
  background-color: #FFFFFF;
}
