div.letter {
    div.content {
        background-color: #343a40;
        color: white;
        border-radius: 4px;
        padding: 50px;
        position: relative;
        margin-top: -50px;
        margin-bottom: -50px;
    }
}
