div.team {
    background-color: $secondary-theme;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 8rem 0;

    h2 {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    div.team-rows {
        div.t-member {
            text-align: center;
            margin: 1rem 0;

            & > a {
                color: black;
                text-decoration: none;

                &:hover {
                    color: $primary-theme;
                }

                & > img {
                    margin-bottom: 0.5rem;
                }

                & > p {
                    margin: 0;
                }
            }

            p.name {
                font-weight: bold;
            }

            p.role {

            }
        }
    }
}
