div.team {
    background-color: $secondary-theme;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 8rem 0;

    h2 {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    div.team-rows {
        justify-content: space-around;
        flex-flow: row wrap;

        div.t-member {
            text-align: center;
            margin: 1rem 0;

            & > img {
                margin-bottom: 0.5rem;
            }

            & > p {
                margin: 0;
            }

            p.name {
                font-weight: bold;
            }

            p.role {

            }
        }
    }
}
